@font-face {
  font-family: "LexendExtraLight";
  src: url("/fonts/lexend/Lexend-ExtraLight.ttf");
}

@font-face {
  font-family: "LexendLight";
  src: url("/fonts/lexend/Lexend-Light.ttf");
}

@font-face {
  font-family: "LexendMedium";
  src: url("/fonts/lexend/Lexend-Medium.ttf");
}

@font-face {
  font-family: "LexendRegular";
  src: url("/fonts/lexend/Lexend-Regular.ttf");
}

@font-face {
  font-family: "DMSerifRegular";
  src: url("/fonts/DMSerif/DMSerifDisplay-Regular.ttf");
}

:root {
  --dark: #222222;
  --light: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  position: relative;
}

nav {
  position: relative;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  z-index: 150;
}

.nav-content {
  border: 1px solid red;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content .logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo-links img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.logo-links .desktop-links {
  display: none;
  margin-top: 15px;
  font-family: "LexendLight";
  gap: 40px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .logo-links .desktop-links {
    display: flex;
  }
}

.logo-links .desktop-links a {
  color: var(--dark);
  transition: 0.3s all;
  text-decoration: 4px solid overline;
  text-decoration-color: transparent;
}

.logo-links .desktop-links a:hover {
  text-decoration: 4px solid overline;
  text-decoration-color: #c4c4c4;
}

.cart-search-ham {
  display: flex;
  gap: 24px;
  align-items: center;
}

.cart,
.search {
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-icon {
  width: 30px;
}

.search-icon {
  width: 25px;
  transition: 0.4s all ease-in-out;
}

.cart {
  position: relative;
}

.cart .cart-items-count {
  height: 22px;
  width: 22px;
  display: grid;
  place-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 1px solid var(--dark);
  right: -10px;
  top: -15px;
  font-size: 14px;
}

.search:hover .search-icon {
  transform: rotate(-25deg);
}

.hamburger {
  background-color: transparent;
  border: none;
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  cursor: pointer;
  padding: 4px 0;
  z-index: 10000;
}

.hamburger:hover .short-line {
  width: 100%;
}

.hamburger .line,
.short-line {
  height: 3px;
  background-color: var(--dark);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
  transform-origin: center;
}

.hamburger .line {
  width: 100%;
}

.hamburger .short-line {
  width: 80%;
  transition: 0.25s all ease-in-out;
}

main {
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-box {
  position: relative;
  background-color: var(--light);
  width: 100%;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

.promo-box-content {
  /* padding: 170px 0 0 0; */
  border: 1px solid orange;
  width: 750px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .promo-box-content {
    justify-content: space-between;
    gap: 35px;
  }
}

.promo-box-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* color: var(--light); */
}

.collection-name {
  border: 1px solid green;
  font-size: 40px;
  text-align: center;
}

.hotlist {
  font-family: "DMSerifRegular";
  font-size: 70px;
  line-height: 0.8;
}

.collection-cta {
  cursor: pointer;
  border: none;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 70px;
  width: 100%;
  padding: 18px;
  font-size: 10px;
  transition: 0.2s all;
}

.collection-cta:hover {
  background-color: #4e4e4e;
}

.img-container {
  border: 1px solid rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-box-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.perks-wrapper {
  display: flex;
  justify-content: center;
}

.perks {
  width: 1300px;
  padding: 70px 0;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .perks {
    justify-content: space-between;
  }
}

.perk-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.perk-img-box {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.perk-img {
  width: 40px;
}

.perk-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 230px;
}

.join {
  position: relative;
  display: flex;
  justify-content: center;
}

video {
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* hambi */

:root[menu-open] #menu-button span:nth-child(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

:root[menu-open] #menu-button span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}

:root[menu-open] #menu-button span:nth-child(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

:root[menu-open] #menu-button span {
  background-color: var(--light);
}

/* container */

.overlay {
  position: absolute;
  background-color: #222222;
  inset: 0;
  height: 100vh;
  padding-top: 120px;
  transform: translateY(-100%);
  transition: transform 1s ease;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.ham-logo {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.overlay ul {
  /* position: absolute; */
  top: 150px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 1px solid red;
  font-size: 40px;
}

.overlay ul a {
  text-decoration: none;
  color: var(--light);
}

:root[menu-open] .overlay {
  transform: translateY(0);
}

/* watch & shoes */

.watch-shoes-wrap {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.watch-shoes {
  width: 1330px;

  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  gap: 20px;
}

.object-box {
  max-width: 700px;
  padding: 15px 10px;
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 75px;
  background-color: var(--light);
}

@media (min-width: 768px) {
  .object-box {
    flex: 1;
  }
}

.object-img img {
  width: 100%;
  max-width: 250px;
  height: auto;
}
